@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  label:has(> input:checked) {
    @apply font-bold;
  }
  /* input type number에 증가, 감소 화살표 제거 */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .header {
    @apply relative z-40 flex items-center border-b bg-white text-sm;
  }
  .header-title {
    @apply text-2xl font-black;
  }
  .header-search {
    @apply w-full appearance-none rounded-md border border-gray-300 px-5 font-light placeholder-gray-400 shadow-sm transition-colors focus:border-orange-500 focus:outline-none focus:ring-orange-500;
  }
  .sunday {
    @apply text-red-400;
  }
  .saturday {
    @apply text-blue-600;
  }
  .table-header {
    @apply flex w-full justify-between px-2;
  }
  .table-main {
    @apply relative h-full w-full;
  }

  .btn-menu {
    @apply relative rounded-sm border border-transparent py-[1px] px-1.5 tracking-widest hover:bg-gray-200;
  }

  .emphasize-border {
    @apply hover:border-b-gray-500 hover:bg-white;
  }
  .emphasize-ring {
    @apply ring-2 ring-green-500;
  }
  .time-indicator-bar {
    @apply pointer-events-none absolute left-0 z-[31] flex w-full border-t border-red-500 text-red-500;
  }

  .reserve-btn-box {
    @apply relative z-10 h-5 w-full cursor-pointer from-sky-500 to-indigo-500 text-center hover:bg-gradient-to-r;
  }
  .reserve-btn {
    @apply invisible mx-auto whitespace-nowrap align-middle text-white group-hover:visible;
  }
  .modal-parents {
    @apply fixed top-0 left-0 z-40 h-screen w-screen cursor-default;
  }
  .modal-background {
    @apply absolute h-full w-full bg-black/50;
  }
  .modal-content {
    @apply relative mx-auto space-y-4 rounded-md bg-white px-14 py-1;
  }

  .input {
    @apply w-full appearance-none rounded-md border py-2 px-5 shadow-sm transition-colors focus:border-green-500 focus:outline-none focus:ring-green-500;
  }
  .input-datepicker {
    @apply w-full rounded-md border py-1 pr-5 text-right shadow-sm transition-colors focus:border-green-500 focus:outline-none focus:ring-green-500;
  }

  .bubble-arrow-t-center {
    @apply after:absolute after:bottom-full after:left-1/2 after:border-8 after:border-b-black  after:border-t-transparent after:border-l-transparent after:border-r-transparent;
  }
  .bubble-arrow-t-left {
    @apply after:absolute after:bottom-full after:left-[10%] after:border-8 after:border-b-black  after:border-t-transparent after:border-l-transparent after:border-r-transparent;
  }
  .bubble-arrow-t-right {
    @apply after:absolute after:bottom-full after:right-[10%] after:border-8 after:border-b-black  after:border-t-transparent after:border-l-transparent after:border-r-transparent;
  }
  .bubble-arrow-t-2-5 {
    @apply cursor-pointer after:absolute after:bottom-full after:left-[19.5%] after:border-8  after:border-b-black after:border-t-transparent after:border-l-transparent after:border-r-transparent;
  }
  .bubble-arrow-b-2-5 {
    @apply cursor-pointer after:absolute after:top-full after:left-[19.5%] after:border-8  after:border-t-black after:border-b-transparent after:border-l-transparent after:border-r-transparent;
  }

  .form-error {
    @apply absolute right-0 whitespace-nowrap rounded-md px-2 py-1 font-semibold text-red-400;
  }
  .seperate-bar {
    @apply w-full border-b;
  }

  .user-cols-divide {
    @apply border-r border-x-gray-500 last:border-r-transparent;
  }
}

@layer utilities {
  .position-center {
    @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .position-center-x {
    @apply left-1/2 -translate-x-1/2;
  }
  .position-center-y {
    @apply top-1/2 -translate-y-1/2;
  }

  .noshow {
    @apply text-black;
  }
  .cancel {
    @apply text-red-500;
  }
  .no-reserved {
    @apply border-gray-300 bg-gray-100;
  }
}

.search-result {
  @apply w-full appearance-none rounded-b-md border border-gray-300 px-5 py-2  font-light placeholder-gray-400 shadow-sm transition-colors focus:border-orange-500 focus:outline-none focus:ring-orange-500;
}

.bubble-apear {
  @apply transition-opacity delay-200 duration-200 ease-in;
}
.dot {
  @apply after:absolute after:-bottom-1.5 after:left-1/2 after:mx-auto after:block after:h-1.5 after:w-1.5 after:-translate-x-1/2 after:rounded-full after:bg-green-500;
}
